<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <h3>Menu</h3>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="../index.html#tours">Passeios</a></li>
        <li><a href="../pages/about-us.html">Quem somos</a></li>
        <li><a href="../pages/como-funciona.html">Como Funciona</a></li>
        <li><a href="/pages/contato.html">Contato</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>Contato</h3>
      <p>Email: <span id="footer-email">contato@vumbora.com.br</span></p>
      <p class="footer-telefone">Telefone: <span id="footer-telefone">(84) 91274-7822</span></p>
      <div class="footer-social">
        <a href="https://www.instagram.com/vumbora_passear" target="_blank" class="footer-btn">Instagram</a>
        <a href="#" id="whatsapp-footer-link" target="_blank" class="footer-btn">WhatsApp</a>
      </div>
    </div>
    <div class="footer-col">
      <h3>Faça seu orçamento</h3>
      <p>Entre em contato e faça já seu orçamento personalizado para passeios em Natal!</p>
      <p><strong>WhatsApp:</strong> <span id="footer-whatsapp-text">(84) 91274-7822</span></p>
    </div>
  </div>
</footer>