<!-- header.html -->
<header>
  <div class="header-container">
    <button id="botao-sidebar"><img src="../assets/img/icons8-menu-60.png" alt="Menu" /></button>
    <div class="sidebar">
      <ul>
        <li><a href="../index.html">VUMBORA</a></li>
        <li><a href="../pages/catalogo.html">Passeios</a></li>
        <li><a href="../pages/conheca.html">Nossa História</a></li>
        <li><a href="../pages/conheca.html">Galeria</a></li>
        <li><a href="../pages/conheca.html">Feedbacks</a></li>
        <li><a href="../pages/conheca.html">Conheça Natal</a></li>
        <li><a href="../pages/contato.html">Contato</a></li>


      </ul>
      <div class="divider"></div>
    </div>
    <a href="../index.html" class="logo">
      <img src="../assets/img/vumbora.png" alt="RN Private Tour Logo" />
    </a>
    <nav class="main-nav">
      <a href="../pages/catalogo.html">Passeios</a>
      <a href="../pages/conheca.html">Nossa História</a>
      <a href="../pages/conheca.html">Galeria</a>
      <a href="../pages/conheca.html">Feedbacks</a>
      <a href="../pages/conheca.html">Conheça Natal</a>
      <a href="../pages/contato.html">Contato</a>
    </nav>
    <a href="https://wa.me/558491274782" class="whatsapp-button">
      <div class="txt-whatsapp">Atendimento</div> <img src="../assets/img/Whatsapp.png" alt="WhatsApp" />
    </a>
  </div>
</header>